        <header>
            <nav>
             <ul>
                <li><a href='@Url.Action("Index")'>Volver al Menu</a></li>
            </ul>
            </nav>
            <img src="img/Logo.png" width="55px" height="auto">
            <h1>Créditos</h1>
        </header>
        <div class="Personas">
            <div class="Emilia">
                <img src="img/Emilia.png" width="150px" height="auto">
                <h5>María Emilia Gayoso Martinez</h5>
                <h6>Back End Developer</h6>
            </div>
            <div class="Eitan">
                <img src="img/Eitan.jfif" width="150px" height="auto">
                <h5>Eitan Gabriel Toporovskaja</h5>
                <h6>Front End Developer</h6>
            </div>
            <div class="Lara">
                <img src="img/Lara.png" width="150px" height="auto">
                <h5>Lara Micaela Farina</h5>
                <h6>Front End Developer</h6>
            </div>
        </div>
