<div class="hab3"><header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Index")'>Volver al Menu</a></li>
        </ul>
    </nav>
</header>
<article>

    <h2>¿Qué hacemos en este cuarto?</h2>
        <h1>La biblioteca abandonada</h1>
        <p>Has avanzado a través del colegio, vía los ductos de ventilación, hasta que llegaron al ascensor y bajaron por los cables de este. Llegaron a la planta baja y se dirijen a la
        biblioteca abandonada donde hay libros en un lenguaje de la epoca sobre robots y otras cosas. Descifre el codigo y el idioma para poder desbloquear la siguiente sala. ¡Suerte!
    </p>
    @{
        if (ViewBag.Error != null)
        {
            <div class="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Error! </strong> Respuesta Incorrecta
            </div>
        }
    }

    <img src="/img/PantallaSalaBiblioteca.jpg" width="50%" height="70%">
    <br>
    <form action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value="3">
        <input type="text" name="clave">
        <input type="button" onclick="alert('Fijate en el orden de los libros…')"
            value="Pista">
        <input type="button" onclick="alert('Volvé a fijarte en el orden de los libros, pero esta vez, en los de arriba.')"
            value="Pista Extra">
        <input type="submit" value="Envíar">
    </form>
</article>
  <footer>
            <h5>Hecho por: María Emilia Gayoso Martinez, Eitan Gabriel Toporovskaja y Lara Micaela Farina.</h5>
        </footer>
</div>