<div class="hab2">
<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Index")'>Volver al Menu</a></li>
        </ul>
    </nav>
</header>
<article>
    <h2>¿Qué hacemos en esta habitación?</h2>
    @{
        if (ViewBag.Error != null)
        {
            <div class="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Error! </strong> Respuesta Incorrecta
            </div>
        }
    }
    <h1>La oficina de la coordinadora</h1>
    <p>Has avanzado a través del colegio, vía los ductos de ventilación, hacia la oficina de la antigua coordinadora del curso 4ID donde hay documentos importantes. Descubre el código secreto para poder desbloquear la siguiente sala. ¡Suerte!
    </p>
    <img src="../img/Oficina.png" width="50%" height="70%">
    <br>
    <form action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value="2">
        <input type="text" name="clave">
        <input type="submit" value="Envíar">
    </form>
</article>
</div>