<div class="hab1">

<div class="pista ">
<a class=" pista1" href="~/img/compuzoom.jpg" data-lightbox="compuzoom" data-title="pista 1"><img src="~/img/Pistas.jpg"/></a>
<a class=" pista2" href="~/img/compuzoom.jpg" data-lightbox="compuzoom" data-title="pista 2"><img src="~/img/Pistas.jpg"/></a>
<a class=" pista3" href="~/img/compuzoom.jpg" data-lightbox="compuzoom" data-title="pista 3"><img src="~/img/Pistas.jpg"/></a>
</div>
</div>