    
<div>
    <header>
        <nav>
            <ul>
                <li><a href='@Url.Action("Tutorial")'>Tutorial</a></li>
                <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
                <li><a href='@Url.Action("Comenzar")'>Comenzar</a></li>
            </ul>
        </nav>
        <img src="img/Logo.png" width="55px" height="auto">
        <h1>EscalofriOrt</h1>
        <h2>¡Descubre tus miedos y escapa de lo desconocido!</h2>
    </header>
<div class="ImagenesDescriptivas">
        <img src="img/ImgDescriptivaAula.jpg" width="450px" height="auto">
        <img src="img/PantallaCidi.jpg" width="450px" height="auto">
        <img src="img/PantallaOficina.jpg" width="450px" height="auto">

        <img src="img/PantallaSalaBiblioteca.jpg" width=450px height="auto">
</div>
    <footer>
        <h5>Hecho por: María Emilia Gayoso Martinez, Eitan Gabriel Toporovskaja y Lara Micaela Farina.</h5>
    </footer>

</div>

