<header>
<nav>
                 <ul>
                <li><a href='@Url.Action("Index")'>Volver al Menu</a></li>
            </ul>
            </nav>
</header>
<h2>¿Cómo jugar?</h2>
<ol>
    <ul>- Luego de oprimir el botón de comenzar, te llevaremos a la primera habitación. En esta, habrá un acertijo el cuál tendrás que responder. Las pistas están escondidas.</ul>
    <ul>- Una vez obtengas el código, tendrás que averiguar su orden y donde ingresarlo.</ul>
    <ul>- En caso de no saber donde encontrar las pistas, no saber en qué orden va o no saber responder, podrás acceder a las pistas.</ul>
    </ol>
<h2>¿Qué pasa luego de mandar mi respuesta?</h2>
<ol>
    <ul>- En caso de que tu respuesta sea <b>correcta</b> accederás a la próxima sala. En caso de estar en la última habitación y acertar, ganarás.</ul>
    <ul>- En caso de que tu respuesta sea <b>incorrecta</b> te envíaremos un mensaje de error y solo pasará que gastarás tiempo.</ul>
</ol>
<h2>¿De qué trata el juego?</h2>
<ol>
    <ul>- Estás en el año 2210, dentro de ORT, un colegio que en su día fue muy exitoso pero que hoy en día está completamente abandonado gracias a los ataques robots ocurridos en los últimos años. Quedaste atrapado completamente solo y deberás ir atravesando las distintas salas que no han sido utilizadas desde hace años. ¡Suerte! </ul>
</ol>

<div class="ImagenesDescriptivas">
        <img src="img/ImgDescriptivaAula.jpg" width="450px" height="auto">
        <img src="img/PantallaCidi.jpg" width="450px" height="auto">
        <img src="img/PantallaOficina.jpg" width="450px" height="auto">
        <img src="img/PantallaSalaBiblioteca.jpg" width=450px height="auto">
</div>
