<header>
    <nav>
        <ul>
            <li><a href='@Url.Action("Index")'>Reiniciar juego</a></li>
        </ul>
    </nav>
    <img src="/img/Logo.png" width="55px" height="auto">
</header>
<div class="Victoria">
<img src="/img/victoria.gif" width="100%" height="100%">
<h1>¡FELICIDADES!</h1>
<p>Has pasado el desafío EscalofriOrt. Lograste salir vivo y sin rasguños de la escuela. 
Fuiste muy valiente al haberte enfrentado a todas esas habitaciones sólo.
Nos veremos pronto y esperamos que todo vuelva a la normalidad, para evitar que tengas que volver a entrar a buscar documentos clasificados.</p>
</div>