html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 10px 0px 20px 0px;
}
.Victoria
{
    background-color: greenyellow;
    color:beige;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* EsPantalla index,tutorial,creditos*/
.Index,
.Tutorial,
.Creditos {
  background-image: url("../img/pantalla1-2.jpg");
  color: red;
  background-color: rgba(255, 0, 0, 0.082);
  height: 1000px;
  width: 100%;
  font-family: Arial, sans-serif;
}
.hab1 {
  background-image: url("../img/cidi.jpg");
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  height: 1000px;
  width: 100%;
}

/* Header */
.Index header,
.Creditos header, .Tutorial header {
  padding: 20px;
  text-align: center;
}

.Index header img,
.Creditos header img, .Tutorial header img {
  width: 55px;
  height: auto;
}

.Index header h1,
.Creditos header h1, .Tutorial header h1 {
  color: white;
  font-size: 24px;
}


.ImagenesDescriptivas {
  display: flex;
  justify-content: center;
}

.Botones {
  border: none;
  background-color: #ff3c3c;
  text-decoration: none;
  color: white;
  border-radius: 50px;
}

.ImagenesDescriptivas img {
  border: 2px solid black;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  margin: 10px;
}

.ImagenesDescriptivas img:hover {
  border-color: red;
}

.Index .FormIngresoDeNombre {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

.Index .FormIngresoDeNombre input[type="text"] {
  padding: 5px;
  font-size: 25px;
  margin-bottom: 10px;
  width: 200px;
}

.Index .FormIngresoDeNombre input[type="submit"] {
  color: white;
  font-size: 25px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Index footer h5 {
  color: black;
  text-align: center;
  color: white;
  font-size: 14px;
}

/* Estilos para creditos */
.Personas {
  margin-left: 500px;
  text-align: center;
}

.Emilia,
.Eitan, .Lara {
  float: left;
  margin-left: 50px;
}

.Personas img {
  border-radius: 100px;
}

.Text h2{
  background-color: #111;
  font-size: large;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 24px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top:5px;
}
nav img{
  margin-top:5px;
  margin-left: 70px;
}
nav h1{
  margin-left: 50px;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/*Habitacion 1, java*/
.pista
{
  margin: 0;
  position: absolute;
  top: 488px;
}
.pista a 
{
  display: inline;
}
.pista .pista1
{
  position: absolute;
  top: 57px; 
  left: 39px;
}
.pista .pista2
{
  position: absolute;
  top: 54px; 
  left: 545px;
}
.pista .pista3
{
  position: absolute;
  top: 37px; 
  left: 1553px;
}
.pista3 img
{
  width: 265px;
}
